# {{ ansible_managed }}
# CHANGES TO THIS FILE NEED A SERVER RESTART TO BE APPLIED.

{% set memtotal_mb_1pc = pg_memtotal_mb_1pc|int -%}
{% if ansible_memtotal_mb > 1024 %}
{% set shared_buffers = pg_shared_buffers|int -%}
shared_buffers = {{ shared_buffers }}MB
{% else %}
{% set shared_buffers = memtotal_mb_1pc * 15 -%}
shared_buffers = {{ shared_buffers }}MB
{% endif %}
{% if ansible_memtotal_mb > 1024 %}
effective_cache_size = {{ memtotal_mb_1pc * 75 }}MB
{% else %}
effective_cache_size = {{ memtotal_mb_1pc * 50 }}MB
{% endif %}
work_mem = {{ pg_work_mem }}MB
{% if ansible_memtotal_mb // 16 > 2048 %}
maintenance_work_mem = 2GB
{% else %}
maintenance_work_mem = {{ ansible_memtotal_mb // 16 }}MB
{% endif %}
min_wal_size = {{ pg_tuning_min_wal_size|default(1) }}GB
max_wal_size = {{ pg_tuning_max_wal_size|default(2) }}GB
{% if (3 * shared_buffers // 100) > 16 %}
wal_buffers = 16MB
{% else %}
wal_buffers = {{ (3 * shared_buffers // 100) }}MB
{% endif %}
checkpoint_completion_target = {{ pg_tuning_checkpoint_completion_target|default(0.7) }}
default_statistics_target = 100
{% if pg_has_ssd_drive %}
random_page_cost = 1
{% endif %}
